<section class="welcome-screen">
  <div class="welcome">
    <h1>Budget App</h1>
  </div>

  <div class="welcome-btn">
    <%= link_to new_user_session_path do %><button class="btn welcome-login">LOG IN</button><% end %>
    <%= link_to new_user_registration_path do %><button class="btn welcome-signup">SIGN UP</button><% end %>
  </div>
</section>